@media screen and (max-width: 600px) {
  .dropdown {
    width: auto;
  }

  button.dropdown {
    height: 32px;
    p {
      color: #FFF;
      font-family: Montserrat, sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 142.6%;
    }
  }

}

@media screen and (max-width: 1000px) {
  button.dropdown {
    height: 52px !important;
  }
}

.house {
  .dropdown {
    margin: 15px auto !important;
    max-width: 582px;
    width: 85%;
  }
}

.dropdown-about {
  .dropdown {
    margin: 30px auto;
    max-width: 1023px;
    width: 95%;
  }
}

.dropdown {
  border-radius: 10px 10px 5px 5px;
  background: var(--Gray, rgba(246, 246, 246, 0.45));
  text-align: left;
  width: 100%;

  button {
    margin: 0;
    width: 100%;
    border-radius: 10px;
    background: var(--Red, #FF6060);
    color: white;
    border: #FF6060;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 54px;

    p {
      margin-left: 20px;
      color: #FFF;
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 142.6%;
    }

    img {
      margin-right: 20px;
      transition: transform 0.5s;
    }
  }
}

.dropdown-text {
  margin: 20px 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}
