.dropdown {
  margin: 50px 30px 15px 30px;
  border-radius: 10px 10px 5px 5px;
  background: var(--Gray, rgba(246, 246, 246, 0.45));
  text-align: left;
  width: 100%;

  button {
    margin: 0;
    width: 100%;
    border-radius: 5px;
    background: var(--Red, #FF6060);
    color: white;
    border: #FF6060;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      margin-left: 20px;

      color: #FFF;
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 142.6%;
    };

    img {
      margin-right: 20px;
      transition: transform 0.5s;
    }
  }
}

.dropdown-text {
  margin: 20px 40px;
}

ul {
    list-style-type: none;
  padding: 0;
}
