#banner {
  background-image: url("../../assets/img/about.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 223px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto 43px auto;
}
