#banner {
  background-image: url("../../assets/img/home.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 223px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto 43px auto;

  h1 {
    color: #fff;
    margin: auto;
    padding-top: 78px;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-weight: 700;
    line-height: 68.448px
  }
}

#home {
  min-height: calc(100vh - 109px - 235px);
}

#house-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 56px 50px 43px 50px;
  border-radius: 25px;
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 50px;

  a {
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255,96,96,1) 0%, rgba(255,96,96,1) 42%, rgba(190,96,96,1) 100%);
    cursor: pointer;
    text-decoration: none;

    p {
      margin: 268px 20px 20px 20px;
      color: #fff;
      font-style: 18px;
      text-align: left;
    }
  }
}

@media (max-width: 1000px) {
  #banner {
    h1 {
      font-size: 24px;
      line-height: 100%;
      width: 75%;
      text-align: left;
    }
  }
}
