#banner {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../assets/img/home.jpeg");

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 223px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto 43px auto;
  border-radius: 10px;
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
    margin: auto;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-weight: 700;
    line-height: 68.448px;
  }
}

#home {
  min-height: calc(100vh - 109px - 235px);
}

#house-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 56px 50px 43px 50px;
  border-radius: 25px;
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 50px;

  a {
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    cursor: pointer;
    text-decoration: none;

    p {
      margin: 250px 20px 20px 20px;
      color: white;
      font-size: 18px;
      text-align: left;

      font-family: Montserrat, sans-serif;
      font-weight: 700;
      line-height: 142%;
      width: 70%;
    }
  }
}

@media (max-width: 1000px) {
  #banner {
    h1 {
      font-size: 24px;
      line-height: 100%;
      width: 75%;
      text-align: left;
    }
  }
}
