.house {
  max-width: 1300px;
  min-height: calc(100vh - 300px);
  margin: 0 auto;

  img.house-img {
    width: 100%;
    object-fit: cover;
  }

  .house-title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 75%;
  }

  h1 {
    color: #FF6060;
    font-size: 36px;
    text-align: left;
    padding-right: 50px;
    margin-bottom: 0
  }

  .location {
    text-align: left;
    margin-top: 0;
    color: black;
  }

  .house-tags {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    div {
      text-align: left;
    }
  }

  .desc-util {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    div {
      width: 50%;
    }
  }
}

.house-section {
  margin: auto 30px;
}

@media screen and (max-width: 600px) {
  .desc-util {
    flex-direction: column !important;
    justify-content: space-between;
    margin-top: 10px;

    div {
      width: calc(100% - 60px) !important;
    }
  }
}

.house-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 20px;
}


.house-host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  p {
    color: #FF6060;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 142.6%;
    width: 50%;
    margin-right: 10px;
  }

  img {
    border-radius: 50%;
  }
}

.stars {
  margin-top: 20px;
}

.house-host-stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// media queries
@media screen and (max-width: 600px) {
  .house-section {
    margin: auto 20px;
  }

  .location {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 142.6%; /* 19.964px */
  }

  .house-details {
    display: flex;
    flex-direction: column !important;
  }

  .house-host-stars {
    width: 100%;
    display: flex;
    flex-direction: row-reverse !important;
    justify-content: space-between;
    align-items: center;
  }

  .house-host {
    width: 100%;
    justify-content: end;

    p {
      max-width: 80px;
    }

    img {
      width: 32px;
      height: 32px;
      margin: auto 0;
    }
  }

  .house-title {
    width: 100% !important;
  }

  .house-title h1 {
    margin-top: -10px !important;
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
  }
}


