.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 400px);

  h1 {
    color: #FF6060;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
  }

  p {
    margin: 0;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 51.336px */
  }

  a {
    margin-top: 20px;
    text-decoration: underline;
    color: black;
  }
}
